<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EnderSql"
			 connectionString="Server=localhost,1433;Database=FormOrderDb;User=sa;Password=Password12*;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>